<h2>Contact Me</h2>

<div class="contact">
	<div class="panel1">
		<iframe width="100%" height="410" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//www.openstreetmap.org/export/embed.html?bbox=-123.10317993164064%2C49.18304987224775%2C-122.95761108398439%2C49.32198916635343&amp;layer=mapnik&amp;marker=49.2525684006494%2C-123.0303955078125"></iframe>
      <!--		
		<iframe width="100%" height="410" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=37.7749%2C-122.4194&key=AIzaSyA0ofVZNgWhOfMjHt2gJ-Kk8JnZ35-N5PI"></iframe>
      -->	
   </div>

	<div class="panel2">
		<p class="form-success">Thank you for submitting your comments.</p>
	</div>
	<div class="clear" wy-onload-header-scroll></div>
</div>