!.gitkeep

.DS_Store
*.ig
*.bak
logs/*
assets/*
app/sftp-config.json
app/partials/archives/*
app/img/photos/orig/*
app/img/photos/w640/*
app/img/portfolio_gallery/archive/*

app/styles/img/about/clients/orig/*
app/styles/img/about/clients/small/*
app/styles/img/about/tech/orig/*

app/styles/css/custom-bootstrap.css
app/styles/css/custom-responsive.css
app/styles/css/custom-variables.css
app/styles/css/custom-bootstrap.css
app/styles/css/sprite-client.css
app/styles/css/sprite-tech.css
app/styles/css/wil-theme.css