<!--h1> 
    <span id="title-line0" class="title-line">Mobile&nbsp;User&nbsp;Experiences&nbsp;</span>
<h1-->
<h2>
    <span id="title-line4" class="subtitle"><img class="logo" src="img/wil-logos/w_logo_green.png" alt="logo"/> </span>
    <span id="title-line5" class="subtitle"></span>
</h2>
<h3>
    <span id="title-line1" class="title-line">Hello. My name is Wil. <!--&mdash; a UX Architect.--></span>
    <span id="title-line2" class="title-line">I <span class="text-highlight">create</span> UX and UI that make web apps come to life.</span> 
<!--  
    <span id="title-line2" class="title-line">I <span class="text-highlight">create</span> elegant web mobile UI/UX frontends for enterprise systems.</span>
-->
</h3>

s